* {
    all: unset;
}

.bar {
    background-color: #1d2021;
    border-radius: 0px 0px 12px 12px;
}

.time {
    font-family: azukifontBI;
    color: #ebdbb2;
    font-size: 23px;
    margin-left: 0rem;
}

.workspaces {
    margin-left: 1rem;
    background-color: #282828;
    border-radius: 10px;
}

.0 {
    color: #3c3836;
    font-size: 30px;
    font-family: azukifontBI;
    padding: 0rem .5rem;
    border-radius: 10px;
}

.01, .02, .03, .04, .05 {
    color: #3c3836;
    font-size: 30px;
    font-family: azukifontBI;
    background-color: #d8a657;
    border-radius: 10px;
}

.curwork {
    font-family: azukifontBI;
    font-weight: bold;
    font-size: 20px;
    color: #9BC4BC;
}

.volstat {
    margin: .5rem .0rem;
    padding: 0rem .5rem;
    font-size: 22px;
    color: #ea6962;
    //background-color: #282828;
}

.volscale {
    color: #ea6962;
    border-radius: 6px;
    //background-color: #282828;
}

.brightness {
    padding-left: 0rem;
    padding-right: 0rem;
}

.lightstat {
    font-size: 22px;
    color: #d8a657;
    //background-color: #282828;
    border-radius: 6px;
    margin: .5rem 0rem;
    padding: 0rem .5rem;
}

.brightscale {
    color: #d8a657;
    //background-color: #282828;
}

.wifi {
    font-size: 22px;
    color: #A9B665;
    margin: 1rem 1rem 1rem 0rem;
    //background-color: #282828;
    border-radius: 6px;
    padding: 0rem .5rem;
}

.Nwifi {
    font-size: 22px;
    color: #EA6962;
    margin: 1rem 1rem 1rem 0rem;
}

.button {
    font-size: 30px;
    background-color: #1d2021;
    border-radius: 10px;
    padding: 0px 5px;
    color: #ebdbb2;
}
