* {
    all: unset;
}

.bar {
    background-color: #1d2021;
    border-radius: 0px 0px 12px 12px;
}

.time {
    font-family: azukifontBI;
    color: #ebdbb2;
    font-size: 23px;
    margin-left: 0rem;
}

.workspaces {
    margin-left: 1rem;
    background-color: #282828;
    border-radius: 10px;
}

.0 {
    color: #3c3836;
    font-size: 30px;
    font-family: azukifontBI;
    padding: 0rem .5rem;
    border-radius: 10px;
}

.01, .02, .03, .04, .05 {
    color: #ddc7a1;
    font-size: 30px;
    font-family: azukifontBI;
    //background-color: #d8a657;
    border-radius: 10px;
}

.curwork {
    font-family: azukifontBI;
    font-weight: bold;
    font-size: 20px;
    color: #9BC4BC;
}

.volstat {
    margin-left: 1rem;
    margin-top: .1rem;
    font-size: 22px;
    color: #ea6962;
}

.volscale trough {
    all: unset;
    min-width: 5rem;
    min-height: .8rem;
    background-color: #3c3836;
    border-radius: 10px;
}

.volscale trough highlight {
    border-radius: 10px;
    background-color: #ea6962;
}

.brightness {
    padding-left: 2rem;
    padding-right: .8rem;
}

.lightstat {
    font-family: Cartograph CF;
    font-size: 22px;
    color: #d8a657;
}

.brightscale trough {
    all: unset;
    min-height: .8rem;
    min-width: 5rem;
    background-color: #3c3836;
    border-radius: 10px;
}

.brightscale trough highlight {
    background-color: #d8a657;
    border-radius: 10px;
}

.button {
    font-size: 30px;
    background-color: #1d2021;
    border-radius: 10px;
    padding: 0px 5px;
    color: #ebdbb2;
}
